@{
    ViewData["Title"] = "Home Page";
}

<aside id="colorlib-hero">
	<div class="flexslider">
		<ul class="slides">
			<li style="background-image: url(images/img_bg_1.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 offset-sm-3 text-center slider-text">
							<div class="slider-text-inner">
								<div class="desc">
									<h1 class="head-1">Men's</h1>
									<h2 class="head-2">Shoes</h2>
									<h2 class="head-3">Collection</h2>
									<p class="category"><span>New trending shoes</span></p>
									<p><a href="Product/AllProduct" class="btn btn-primary">Shop Collection</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url(images/img_bg_2.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 offset-sm-3 text-center slider-text">
							<div class="slider-text-inner">
								<div class="desc">
									<h1 class="head-1">Huge</h1>
									<h2 class="head-2">Sale</h2>
									<h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
									<p class="category"><span>Big sale adidas</span></p>
									<p><a href="Product/AllProduct" class="btn btn-primary">Shop Collection</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url(images/img_bg_3.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 offset-sm-3 text-center slider-text">
							<div class="slider-text-inner">
								<div class="desc">
									<h1 class="head-1">New</h1>
									<h2 class="head-2">Arrival</h2>
									<h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
									<p class="category"><span>New style soccer shoes</span></p>
									<p><a href="Product/AllProduct" class="btn btn-primary">Shop Collection</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</aside>
<div class="colorlib-intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
			</div>
		</div>
	</div>
</div>
<div class="colorlib-product">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 text-center">
				<div class="featured">
					<a href="#" class="featured-img" style="background-image: url(images/men.jpg);"></a>
					<div class="desc">
						<h2><a href="#">Shop the Nike shoe collection</a></h2>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="featured">
					<a href="#" class="featured-img" style="background-image: url(images/women.jpg);"></a>
					<div class="desc">
						<h2><a href="#">Shop the adidas shoe collection</a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-product">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
				<h2>Best Sellers</h2>
			</div>
		</div>
		<div class="row row-pb-md">
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/copa-sense-1.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Copa sense 1</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/future-pro.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Future pro</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/lunar-gato-trang.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Lunar gato trang</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/mizuno-alpha-den.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Mizuni alpha den</a></h2>
						
					</div>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/mizuno-alpha-do.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Mizuno alpha do</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/mizuno-alpha-gold.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Mizuno alpha gold</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/mizuno-morelia-neo.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Mizuno morelia neo</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/nb-furon-v6.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Nb furon v6</a></h2>
						
					</div>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/nike-mato.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Nike mato</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/pan-thai-vang.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Pan thai vang</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/phantom-gt2-elite.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Phantom gt2 elite</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/phantom-venom-pro.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Phantom venom pro</a></h2>
						
					</div>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/predator-freak-1.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Predator freak 1</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/puma-future-z-1.3.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Puma future z 1.3</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/puma-ultra-1.4.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Puma ultra 1.4</a></h2>
						
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<a href="#" class="prod-img">
						<img src="images/superfly-8-elite.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					</a>
					<div class="desc">
						<h2><a href="#">Superfly 9 elite</a></h2>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<p>
					<a asp-controller="Product" asp-action="AllProduct" class="btn btn-primary btn-lg">Start shopping</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-partner">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
				<h2>Trusted Partners</h2>
			</div>
		</div>
		<div class="row">
			<div class="col partner-col text-center">
				<img src="images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
			<div class="col partner-col text-center">
				<img src="images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
			<div class="col partner-col text-center">
				<img src="images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
			<div class="col partner-col text-center">
				<img src="images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
			<div class="col partner-col text-center">
				<img src="images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
			</div>
		</div>
	</div>
</div>
